* {
	/*border: 2px dotted #aaaaaa;*/
}

div {
	border-radius: 10px;
}

#upper {
	height: 50px;
	background-color: #4c4c4c;
	width: 98.5%;
	position: relative;
	margin-top: -20px;
	margin-bottom: 10px;
}

.middle {
	position: relative;
}

#left {
	float: left;
	background-color: #b9d7d9;
	width: 21%;
	margin-bottom: 10px;
}

#right {
	float: right;
	background-color: #f4ebc3;
	width: 78%;
	margin-bottom: 10px;
}

#bottom {
	position: relative;
	height : 100px;
	clear: both;
	background-color: #668284;
}

ul.ulClass
{
    list-style-type: none;
}

.actAsLink
{
    color: #0000FF;
    cursor: pointer;
}